.vmenu{
    padding:0px ;
    margin:5px;
    list-style:none ;
    border-radius:3px ;
    box-shadow:0 0 2px gray; 

} 
.vmenu a{
    background: url(../img/dannnn.jpg) no-repeat left center;
    display: block ;
    border-bottom: 1px dotted orangered ;
    color: orangered ;
    font-variant: small-caps ;
    text-decoration: none ;
    padding: 15px 5px 10px 30px;
} 
.vmenu a:hover{
    background: url(../img/heartt.jpg) no-repeat left center;
    border-bottom: 1px dotted white;
    background-color: orangered ;
    color: yellowgreen ;
    font-weight: bold ; 
}
