body{
    margin: 0;
    padding: 0;
}
#ee{
    text-align: center;
}
header{
    height: 300px;
    background-color: rgb(37, 172, 97);
}
.container>nav{
     line-height:40px; 
     background-color:orangered; 
     color:white;  
    text-align:center; 
    font-variant:small-caps; 
} 
.container>nav a:hover{
    color: yellowgreen;
}
article{
    float: left;
    min-height:250px ;
    width: 63%;
    background-color:white;
    padding-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container > nav > {
    color:white; 
     text-decoration:none; 
      margin:0 10px; 
}
aside{
    float: right;
    font-variant: small-caps;
    font-size: larger;
    width: 20%;
    min-height: 532px;
    background-color:whitesmoke;
    
}
footer{
    clear: both;
    height: 150px;
    background-color:rgb(238, 141, 96);
    text-align: center;
  
}
iframe[name=page]{
    width: 100%;
    min-width: 400px;
}
#page{
    width: 1000px;
    margin: 0 auto;
}
.detail{
    width: 100%;
}
.detail-img {
width: 10%;
float:left;

}
.detail-content {
    width: 60%;
    float:right;
    }
